{% extends "templates/index.html" %}
	<!-- ******************************************************************************************************************************** -->
	<!-- ONLY CHANGE CODE BETWEEN BELOW THIS COMMENT. IF YOU ARE CHANGING ANYTHING IN HEADER OR FOOTER DO IT IN THE INDEX.HTML TEMPLATE FILE. -->
	<!-- ******************************************************************************************************************************** -->
{% block content %}
	<section role="main" class="main-content container">
		<div class="row justify-content-end">
			<div class="col-md-8 contact header">
        		<h2>Contact Us</h2>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-4 contact">
        		<img src="img/email.png" alt="Email envelope icon">
        	</div>
        	<div class="col-md-8 contact">
      			<p class="lead">Want to get in touch? Email us at quasicon.planners.2018@gmail.com</p>
      		</div>
      	</div>
    </section>

    <!-- ******************************************************************************************************************************** -->
    <!-- ONLY CHANGE CODE ABOVE THIS COMMENT. IF YOU ARE CHANGING ANYTHING IN HEADER OR FOOTER DO IT IN THE INDEX.HTML TEMPLATE FILE. -->
    <!-- ******************************************************************************************************************************** -->

    </div>
{% endblock %}