{% extends "templates/index.html" %}

{% block content %}
	<!-- ******************************************************************************************************************************** -->
	<!-- ONLY CHANGE CODE BETWEEN BELOW THIS COMMENT. IF YOU ARE CHANGING ANYTHING IN HEADER OR FOOTER DO IT IN THE INDEX.HTML TEMPLATE FILE. -->
	<!-- ******************************************************************************************************************************** -->

	<section role="main" class="main-content container">
		<div class="row location">
			<div class="col-md-6 location">
		      	<h2>Location</h2>
		      	<p class="lead">QuasiCon 2018 will take place on Saturday, February 10, 2018 at the North Quadrangle Adacemic Complex located 105 S. State Street on the University of Michigan campus.</p>
				<h2>Parking</h2>
				<p class="lead">We suggest that attendees park at the Liberty Square Parking Structure (510 E. Washington), a short walk to the Rackham Graduate Building (915 E. Washington Street). This lot charges a flat $3 exit fee for parking on Saturdays.</p>
			</div>
			<div class="col-md-6 location">
			    <div id="map">
			    	<iframe
  					width="100%"
  					height="400"
  					frameborder="0" style="border:0"
  					src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAYyqoDOAk65OhnvMUG1HAYb_XMJoqx9nU&origin=place_id:ChIJz9KQCj-uPIgRk6ngLdYuAbI&destination=place_id:ChIJy_fxa0CuPIgRWmk6N0CQ0u8" allowfullscreen>
					</iframe>
    			</div>
				</div>
		</div>
    </section>

    <!-- ******************************************************************************************************************************** -->
    <!-- ONLY CHANGE CODE ABOVE THIS COMMENT. IF YOU ARE CHANGING ANYTHING IN HEADER OR FOOTER DO IT IN THE INDEX.HTML TEMPLATE FILE. -->
    <!-- ******************************************************************************************************************************** -->

    </div>
	{% endblock %}