{% extends "templates/index.html" %}

{% block content %}

	<!-- ******************************************************************************************************************************** -->
	<!-- ONLY CHANGE CODE BETWEEN BELOW THIS COMMENT. IF YOU ARE CHANGING ANYTHING IN HEADER OR FOOTER DO IT IN THE INDEX.HTML TEMPLATE FILE. -->
	<!-- ******************************************************************************************************************************** -->
	
	<section role="main" class="main-content container">
      <div class="row">
        <div class="col-md-12 schedule">
        	<h2>Schedule</h2>
        	<table class="table table-hover">
    		<thead>
      		<tr>
        		<th scope="col">Time</th>
        		<th scope="col">Event</th>
       		<th scope="col">Location</th>
      		</tr>
    		</thead>
   		<tbody>
      		<tr>
        		<th scope="row">8am-9am</th>
       		<td>Registration &amp; Breakfast</td>
        		<td>Media Gateway</td>
      		</tr>
      		<tr>
       		<th scope="row"></th>
        		<td colspan="2"> Check-in to recieve your name tag, information packet, and enjoy coffee and a light breakfast.</td>
      		</tr>
      		<tr>
        		<th scope="row">9am-10:30am</th>
       		<td>Lighning Talks</td>
        		<td>Rm 2185</td>
      		</tr>
      		<tr>
       		<th scope="row"></th>
        		<td colspan="2"> 8 minute "Ted Talk" style presentations focused on this year's theme. Runs concurrently with another session.</td>
      		</tr>
      		<tr>
        		<th scope="row">10:30am-12pm</th>
       		<td>Presentations</td>
        		<td>Rm 1285</td>
      		</tr>
      		<tr>
       		<th scope="row"></th>
        		<td colspan="2"> Full scale, interactive presentation with Q & A session afterward. </td>
        		</tr>
        		<tr>
        		<th scope="row">12pm-1pm</th>
       		<td>Lunch</td>
        		<td>Media Gateway</td>
      		</tr>
      		<tr>
       		<th scope="row"></th>
        		<td colspan="2"> Check-in to pay for and receive your box lunch or head off-campus for lunch on your own.</td>
      		</tr>
      		<tr>
        		<th scope="row">1pm-2:3pm</th>
       		<td>Keynote</td>
        		<td>Rm 2245</td>
      		</tr>
      		<tr>
       		<th scope="row"></th>
        		<td colspan="2"> Keynote address given by special guest. See speaker bios for more information.</td>
      		</tr>
      		<tr>
        		<th scope="row">2:30pm-4pm</th>
       		<td>Poster Session</td>
        		<td>Media Gateway</td>
      		</tr>
      		<tr>
       		<th scope="row"></th>
        		<td colspan="2"> Self-guided session of 4-6 posters on various topics. Researchers will be on-hand to answer questions and provide more information on their poster topic.</td>
      		</tr>
    		</tbody>
  		</table>
      </div>
      </div>
    </section>
	</div>
    <!-- ******************************************************************************************************************************** -->
    <!-- ONLY CHANGE CODE ABOVE THIS COMMENT. IF YOU ARE CHANGING ANYTHING IN HEADER OR FOOTER DO IT IN THE INDEX.HTML TEMPLATE FILE. -->
    <!-- ******************************************************************************************************************************** -->

 {% endblock %}