{% extends "templates/index.html" %}

{% block content %}
	<!-- ******************************************************************************************************************************** -->
	<!-- ONLY CHANGE CODE BETWEEN BELOW THIS COMMENT. IF YOU ARE CHANGING ANYTHING IN HEADER OR FOOTER DO IT IN THE INDEX.HTML TEMPLATE FILE. -->
	<!-- ******************************************************************************************************************************** -->

	<section role="main" class="main-content container">
		<div class="row">
			<div class="col-md-8 volunteer header">
				<h2>Interested in Volunteering?</h2>
		      	<p class="lead">
				The QuasiCon Planning Committee is always looking for committed volunteers to assist with a variety of projects: </p>
					<ul>
						<li class="list-item">Marketing and Outreach</li>
						<li class="list-item">Planning and Logistics</li>
						<li class="list-item">Preparation the week before the conference</li>
						<li class="list-item">Day of Set-up/Clean-up &amp; Greeters</li>
						<li class="list-item">Event Photography</li>
						<li class="list-item">Social Media</li>
					</ul>
				<p class="lead">If you are interested getting involved, please reach out to the Planning Committee via email: quaiscon.planners.2018@gmail.com
				</p>
			</div>
			<div class="col-md-4 volunteer">
				<img src="img/volunteer.jpg" alt="Two volunteers waving to the camera">
			</div>
    </section>

    <!-- ******************************************************************************************************************************** -->
    <!-- ONLY CHANGE CODE ABOVE THIS COMMENT. IF YOU ARE CHANGING ANYTHING IN HEADER OR FOOTER DO IT IN THE INDEX.HTML TEMPLATE FILE. -->
    <!-- ******************************************************************************************************************************** -->

    </div>
{% endblock %}